@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  animation: fade-in-up 1s forwards;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-down {
  animation: fade-in-down 1s forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-right {
  animation: fade-in-right 1s forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  animation: fade-in-left 1s forwards;
}
