#home {
  background-color: var(--light);
  height: 600px;
  position: relative;
  overflow: clip;
}

#home:target {
  scroll-margin-top: 87px;
}

.home-container {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
}

.title {
  position: absolute;
  top: 176px;
  width: 480px;
  font-size: 48px;
  left: 40px;
  z-index: 1;
  animation: fade-in-up 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

#btn-home {
  position: absolute;
  top: 376px;
  left: 40px;
  z-index: 1;
  animation: fade-in-up 1s forwards;
  animation-delay: 1.3s;
  opacity: 0;
}

.yellow-color {
  color: var(--primary);
}

.circle1 {
  height: 41px;
  width: 41px;
  background-color: var(--secondary);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  bottom: 97px;
  animation: fade-in-up 1s cubic-bezier(0.61, 1.99, 0.79, 1.28) forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

.circle2 {
  height: 54px;
  width: 54px;
  background-color: var(--secondary);
  position: absolute;
  border-radius: 50%;
  right: 40%;
  top: 52px;
  animation: fade-in-up 1s cubic-bezier(0.61, 1.99, 0.79, 1.28) forwards;
  animation-delay: 2.7s;
  opacity: 0;
}

.circle3 {
  height: 19px;
  width: 19px;
  background-color: var(--secondary);
  position: absolute;
  border-radius: 50%;
  right: 37%;
  top: 249px;
  animation: fade-in-up 1s cubic-bezier(0.61, 1.99, 0.79, 1.28) forwards;
  animation-delay: 2.9s;
  opacity: 0;
}

.circle4 {
  height: 74px;
  width: 74px;
  background-color: var(--secondary);
  position: absolute;
  border-radius: 50%;
  right: 6%;
  top: 249px;
  animation: fade-in-up 1s cubic-bezier(0.61, 1.99, 0.79, 1.28) forwards;
  animation-delay: 3.1s;
  opacity: 0;
}

.food1 {
  position: absolute;
  top: 12px;
  right: 10%;
  z-index: 1;
  animation: fade-in-right 1s forwards;
  animation-delay: 1.3s;
  opacity: 0;
}

.food2 {
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 1;
  animation: fade-in-right 1s forwards;
  animation-delay: 1.9s;
  opacity: 0;
}

.food3 {
  position: absolute;
  bottom: 97px;
  right: 30%;
  z-index: 1;
  animation: fade-in-right 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

.wave1 {
  position: absolute;
  bottom: 36px;
  left: 0%;
  animation: fade-in-left 1s forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

.wave2 {
  position: absolute;
  bottom: 73px;
  left: 0%;
  animation: fade-in-left 1s forwards;
  animation-delay: 2.3s;
  opacity: 0;
}

@media screen and (min-width: 1260px) {
  .title,
  #btn-home {
    left: 0;
  }
}

@media screen and (max-width: 948px) {
  .title {
    top: 48px;
  }

  #btn-home {
    top: 220px;
  }

  .food1 {
    right: 25%;
    top: 170px;
  }

  .food3 {
    bottom: 0px;
    right: 50%;
  }
}

@media screen and (max-width: 646px) {
  .food1 {
    top: 240px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .food2 {
    display: none;
  }

  .food3 {
    display: none;
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .wave1,
  .wave2 {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .title {
    width: auto;
    right: 40px;
    font-size: 44px;
  }

  #btn-home {
    top: 220px;
  }

  .food1 {
    width: 60%;

    top: 290px;
  }
}

@media screen and (max-width: 420px) {
  #btn-home {
    top: 290px;
  }

  .food1 {
    top: 350px;
  }
}
